<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ENVELOPE>
	 <HEADER>
	 	 <VERSION>$version</VERSION>
		 <TALLYREQUEST>$tallyRequest</TALLYREQUEST>
		 <TYPE>$type</TYPE>
		 <ID>$id</ID>
	 </HEADER>
	<BODY>
		<EXPORTDATA>
			<REQUESTDESC>
				<REPORTNAME>Stock Category Summary</REPORTNAME>
				<STATICVARIABLES>
					<SVEXPORTFORMAT>$$SysName:XML</SVEXPORTFORMAT>
				</STATICVARIABLES>
			</REQUESTDESC>
		</EXPORTDATA>
	 </BODY>
</ENVELOPE>	 
