<?xml version="1.0" encoding="UTF-8"?>
<ENVELOPE>
   <HEADER>
      <VERSION>$version</VERSION>
      <TALLYREQUEST>$tallyRequest</TALLYREQUEST>
      <TYPE>$type</TYPE>
      <SUBTYPE>$subType</SUBTYPE>
      <ID>$id</ID>
   </HEADER>
   <BODY>
      <DESC>         
      	<STATICVARIABLES>
         	$statiicVariables
      	</STATICVARIABLES>
         <REPEATVARIABLES>
         	$reapeatVariables
         </REPEATVARIABLES>
         <FETCHLIST>
         	$fetchList
         </FETCHLIST>
         <FUNCPARAMLIST>
         	$functionList
         </FUNCPARAMLIST>
         <TDL>
         	$tdl
         </TDL>
      </DESC>
      <DATA>
      	$data
      </DATA>
   </BODY>
</ENVELOPE>

